/* Write your code at the bottom */

* {
  box-sizing: border-box;
}

html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
  transition: all 1s;
}

h1 {
  color: white;
  text-align: center;
}

body {
  font-family: "Lucida Grande";
  margin: 0;
}

body {
  padding: 25px;
  background-color: white;
  color: black;
  font-size: 16px;
}


a {
  text-decoration: none;
}

.clear {
  clear: left;
}

.header {
  position: relative;
  width: 100%;
  background-color: rgb(11, 12, 12);
  color: #fff;
  z-index: 100;
}

.container {
  margin: 0 15px;
}

.header {
  position: relative;
  width: 100%;
  background-color: rgb(11, 12, 12);
  color: rgb(255, 255, 255);
  z-index: 100;
}

.logo {
  width: 200px;
}
.container {
  margin: 0 15px;
}

.dark-mode-img {
  width: 20px;
}

.dark-mode {
  background-color: black;
  color: white;
}


.header-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 32px;
  font-weight: bold;
  text-transform: capitalize;
}

.header-left a {
  padding: 5px 10px;
}

.header li {
 display: block;
}

.header a {
  color: white;
  size: 14px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.hamburger-menu {
  display: none;
  width: 40px;
  height: 40px;
}

.dark-mode-img {
  width: 20px;
}

.dark-mode-botton {
  background: transparent;
}

.header-right {
  display: block;
  font-size: 25px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.header-right a {
  display:contents;
  padding: 17px;
}

.header-right a:hover {
  background-color: rgb(91, 91, 94);
  opacity: 1;
  color: #fff;
}


@media (max-width: 670px){
  .header-wrapper {
      display: inline-block;
  }

  .header-right {
      position: fixed;
      left: -100%;
      top: 3rem;
      flex-direction: column;
      background-color: rgb(226, 240, 240);
      width: 100%;
      border-radius: 10px;
      text-align: center;
      transition: 0.3s;
      box-shadow:
          0 10px 27px rgba(130, 175, 241, 0.05);
  }

  .header-right.active {
      left: 0;
  }

  .btn-burger {
      display: block;
  }
}

.top-wrapper {
  padding: 180px 0 100px 0;
  background-color:rgb(72, 117, 133);
  background-size: cover;
  color: white;
  text-align: center;
}

.top-wrapper h1 {
  opacity: 0.7;
  font-size: 32px;
  letter-spacing: 5px;
  color:white;
  margin-bottom: 10px;
}

.top-wrapper p {
  opacity: 0.7;
  margin-bottom: 3px;
}

.message-wrapper {
  background-color: rgb(72, 117, 133);
}
.btn-wrapper {
  text-align: center;
  margin: 20px 0;
}
.btn-message {
  background-color: rgb(233, 239, 241);
  color: rgb(17, 88, 155);
}

.btn-wrapper p {
  margin: 10px 0;
}

.signup {
  background-color: #239b76;
}

.facebook {
  background-color: #3b5998;
  margin-right: 10px;
}

.twitter {
  background-color: #55acee;
}

.btn {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  text-align: center;
}

.btn:hover {
  opacity: 1;
}

.fa {
  margin-right: 5px;
}


.menu-icon {
  color: white;
  float: right;
  font-size: 18px;
  padding: 10px 20px;
  display:table-column;
}


.features-wrapper {
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #f7f7f7;
  text-align: center;
}

.heading {
  padding-top: 80px;
  padding-bottom: 60px;
  color: #f2ecf5;
}

.heading h2 {
  font-weight: normal;
  opacity: 0.7;
  letter-spacing: 1px;
  margin-bottom: 5px;
  font-size: 32px;
  position: relative;
  animation: text 3s 1;
}

.feature {
  float: left;
  width: 25%;
}

.feature-icon {
  position: relative;
}


.feature-icon img { 
  float: right;
  width: 70px;
  position: absolute;
  margin: -75px -20px;
}

.feature-icon p {
  padding: 25px 50px;
  opacity: 1;
  top: 150%;
  margin-top: 60px;
  width: 100%;
  color: rgb(54, 95, 122);
}

.text-contents {
  width: 100%;
  display:block;
  margin-top: -40px;
  font-size: 16px;
  color: #101111;
  padding: 25px 50px;
}

.heading h3 {
  font-weight: normal;
}

.message-wrapper {
  border-bottom: 1px solid #eee;
  padding-bottom: 80px;
  text-align: center;
}

.message {
  padding: 15px 40px;
  background-color: #158ace;
  cursor: pointer;
  box-shadow: 0 7px #7ca3b4;
}

.message:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}


/* Add CSS for <input> and <textarea> tags */
input, textarea {
  width: 300px;
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 20px;
  font-size: 16px;
  border: 1px solid #234557;
}

/* Add CSS for contact-submit */
.contact-submit {
  background-color: #5586a0;
  color: #f7fbfd;
}

.footer {
  background-color: #0b0c0c;
  color: #fff;
  height: 125px;
  padding: 10px;
}

.footer img {
  width: 125px;
  float:left;
}

.footer-list {
  float: right;
}

.footer-list li {
  display: block;
  padding: 3px 6px;
  font-size: small;
}

/* Write your code below */
.menu-icon {
  color: white;
  float: right;
  font-size: 18px;
  padding: -21px 0;
  /* Change the display property to none*/
  display: none;
}


.hamburger-menu img {
  background-color: white;
  width: 30px;
  margin: 0;
}